<!DOCTYPE HTML><html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
		
		<title>Web-based Word2Vec!</title>		
		<script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    	
    	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    	
    	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    	<script type="text/javascript" charset="utf-8">
    	    $(document).ready(function() {
	        	// Set up some variables
	        	var max_fields      = 10; //maximum input boxes allowed
	            var wrapper         = $(".input_fields_wrap"); //Fields wrapper
	            var add_button      = $(".add_field_button"); //Add button ID
	            
	            var x = 1;
	            var add_count = 1; //initial add text box count
	            var sub_count = 1; //initial sub text box count
	            	        	
	        	// Use a "/test" namespace.
	            // An application can open a connection on multiple namespaces, and
	            // Socket.IO will multiplex all those connections on a single
	            // physical channel. If you don't care about multiple channels, you
	            // can set the namespace to an empty string.
	            namespace = '/test';
	            // Connect to the Socket.IO server.
	            // The connection URL has the following format:
	            //     http[s]://<domain>:<port>[/<namespace>]
	            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace, {transports: ['websocket']});
	            // Event handler for new connections.
	            // The callback function is invoked when a connection with the
	            // server is established.
	            socket.on('connect', function() {
	                socket.emit('my_event', {data: 'I\'m connected!'});
	            });
	            // Event handler for server sent data.
	            // The callback function is invoked whenever the server emits data
	            // to the client. The data is then displayed in the "Received"
	            // section of the page.
	            socket.on('my_response', function(msg) {
	                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
	            });
	            
	            socket.on('compute_response', function(msg) {
	            	// set the text field
	            	$('#result').text(msg.data);
	            });
	            // Interval function that tests message latency by sending a "ping"
	            // message. The server then responds with a "pong" message and the
	            // round trip time is measured.
	            var ping_pong_times = [];
	            var start_time;
	            window.setInterval(function() {
	                start_time = (new Date).getTime();
	                socket.emit('my_ping');
	            }, 1000);
	            // Handler for the "pong" message. When the pong is received, the
	            // time from the ping is stored, and the average of the last 30
	            // samples is average and displayed.
	            socket.on('my_pong', function() {
	                var latency = (new Date).getTime() - start_time;
	                ping_pong_times.push(latency);
	                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
	                var sum = 0;
	                for (var i = 0; i < ping_pong_times.length; i++)
	                    sum += ping_pong_times[i];
	                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
	            });
	            // Handlers for the different forms in the page.
	            // These accept data from the user and send it to the server in a
	            // variety of ways
	            
	            $('form#compute').submit(function(event) {
	            	var add_data = [$('#add_data01').val(), $('#add_data02').val()];
	            	var sub_data = [$('#sub_data01').val(), $('#sub_data02').val()];
	                socket.emit('compute_event', {add_data: add_data, sub_data: sub_data});
	                return false;
	            });

	            $('form#disconnect').submit(function(event) {
	                socket.emit('disconnect_request');
	                return false;
	            });
	            	           	            
	            $(add_button).click(function(event){ //on add input button click
	                event.preventDefault();
	                if(x < max_fields){ //max input box allowed
	                    x++; //text box increment
	                    var tmp = $(wrapper).html();
	                    $(wrapper).html('<input type="text" name="mytext[]"/>'); //add input box
	                    $(wrapper).append(tmp);
	                }
	            });
	            
	            $(wrapper).on("click",".remove_field", function(event){ //user click on remove text
	                event.preventDefault();
	            	$(this).parent('div').remove();
	            	x--;
	            });
	            
	            $(document).on('click', '.btn-add', function(e)
           	    {
           	        e.preventDefault();

           	        var controlForm = $(this).parents('.controls form:first'),
           	            currentEntry = $(this).parents('.entry:first'),
           	            newEntry = $(currentEntry.clone()).appendTo(controlForm);
					
           	        newEntry.find('input').val('');
           	        controlForm.find('.entry:not(:last) .btn-add')
           	            .removeClass('btn-add').addClass('btn-remove')
           	            .removeClass('btn-success').addClass('btn-danger')
           	            .html('<span class="glyphicon glyphicon-remove"></span>');
           	    }).on('click', '.btn-remove', function(e)
           	    {
           			$(this).parents('.entry:first').remove();
          			e.preventDefault();
           			return false;
           		});
	            
	            $('.glyphy').click(function (e) {
	                if ($(e.target).is('input')) {
	                    //$(this).find('.glyphicon').toggleClass('glyphicon-minus-sign');
	                	//$(this).find('.glyphicon').css("color", "#228B22");
	                	var targetId = $(e.target).attr('id');
	                	console.log($(e.target).next());
	                	
	                	if (targetId = "positive") {
	                		$(e.target).next().css("color", "#228B22");
	                		$('#negative').parents('.entry:first').find('.glyphicon-negative-sign').css("color", "#000000");
	                	}
	                	else {	                		
	                		$(e.target).next().css("color", "#000000");
	                		$('#negative').parents('.entry:first').find('.glyphicon-negative-sign').css("color", "#228B22");	                		
	                	}
	                }
	            });
	        });
		</script>
	</head>
	<body>
	    <h1>Web-based Word2Vec!</h1>
	    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
	    <h2>Word Vector Computations</h2>
	    
	    <form id="compute" method="POST" action='#'>
	    	<div class="input_fields_wrap">	        	
	        	<input type="text" name="add_data01" id="add_data01" placeholder="Add Data 1">
	        	<input type="text" name="add_data02" id="add_data02" placeholder="Add Data 2">
	        	<button class="add_field_button">+</button> 	        	
	    	</div>
	        <div>
	        	<input type="text" name="sub_data01" id="sub_data01" placeholder="Sub Data 1">
	        	<input type="text" name="sub_data02" id="sub_data02" placeholder="Sub Data 2">
	    	</div>
	        <input type="submit" value="Compute">
	    </form>
	    
	    <div class="container">
			<div class="row">
        		<div class="control-group" id="fields">
            		<label class="control-label" for="field1">Enter some words to compute!</label>
            		<div class="controls"> 
                		<form role="form" autocomplete="off">
                			<div class="entry input-group col-xs-5">							    
                    			<input class="form-control" name="fields[]" type="text" placeholder="Type something" />                    			
                    		</div>
                    		<div class="entry input-group col-xs-5">
							    <span class="input-group-addon">
<!--  								<label for="myCheckbox" class="glyphy">
									    <input type="checkbox" id="myCheckbox" /> 
									    <span class="glyphicon glyphicon-plus-sign"></span>								    
									</label>
-->									
									<label for="positive" class="glyphy">
										<input type="radio" name="operation" id="positive">
										<span class="glyphicon glyphicon-plus-sign"></span>
									</label>
									<label for="negative" class="glyphy">					
										<input type="radio" name="operation" id="negative">
										<span class="glyphicon glyphicon-minus-sign"></span>
									</label>
							    </span>
                    			<input class="form-control" name="fields[]" type="text" placeholder="Type something" />
                    			<span class="input-group-btn">
                            		<button class="btn btn-success btn-add" type="button">
                                		<span class="glyphicon glyphicon-option-horizontal"></span>
                            		</button>
                        		</span>
                    		</div>
                		</form>
            			<br>
            			<small>Press <span class="glyphicon glyphicon-option-horizontal gs"></span> to add another word field</small>
            		</div>
        		</div>
			</div>
		</div>
	    <div>
	    	<p>Result: <b><span id="result"></span></b></p>
	    </div>	 
	</body>
</html>